<nav class="flex w-full h-12 bg-black gap-4 pl-10 items-center">
    <a class="text-white hover:text-blue-200" href="https://enofod.github.io/l2-cheap-tp/">Cheap Teleports</a>
    <a class="text-white hover:text-blue-200 hover:text-bold" href="https://enofod.github.io/l2-buffs/">Buffs</a>
    <a class="text-white hover:text-blue-200 hover:text-bold" href="https://enofod.github.io/l2-books/">Books Drop</a>
    <a class="text-blue-200 text-bold" href="https://enofod.github.io/l2-reborn-captcha/">Captcha Training</a>
</nav>
<div class="text-sm py-1 pl-4 bg-blue-100">WariatP2W is streaming Reborn Signature (C4). Stream starts around 20:00 (UTC+1). Check out <a (click)="trackStreamClick()" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="https://kick.com/wariatp2w">Stream (PL + Eng)</a>, or visit <a (click)="trackDiscordClick()" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="https://discord.gg/hckfUWy33n">Discord (to get some tips)</a></div>
